* { margin: 0; padding: 0; }

body {
	background-color: #1d1d20;
	font-family: 'Montserrat', sans-serif;
	font-size: 14.5px;
	color: rgb(209, 209, 209);
}

p { line-height: 1.5em; }

a { 
	color: rgb(209, 209, 209);
	text-decoration: none;
	border: 0.1em solid #498f87;
	border-left: 0;
	border-top: 0;
	border-right: 0;
}

a:hover {
	cursor: pointer;
}

ul li { list-style: none; overflow: hidden; }

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

section { margin: 0.5em 0 5em 1.5em; }

footer {
	margin-bottom: 1em;
}

footer > p{
	text-align: center;
}

/* ================================================================================================================================= */
/* ================================================================================================================================= */

section#about-me > h1 {
	font-size: 3em;
	font-weight: 200;
	margin: 0;
	margin-bottom: 1em;
}

section#about-me > div {
	border: 0.15em solid #498f87;
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
	padding: 0.1em 1em 0.1em 2em;
}

/* ================================================================================================================================= */
/* ================================================================================================================================= */

section.project-info { margin-top: 0; }

section.project-info > h2 {
	font-weight: 400;
	font-size: 1.4em;
	margin-bottom: 1.5em;
}

section.project-info > div {
	border: 0.15em solid #498f87;
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
	padding: 0.1em 1.5em 0.1em 2em;
}

section.project-info > div > p { margin-bottom: 2em; }

section.project-info a { 
	padding: 0.5em; 
	border-width: 0.15em; 
	transition: color 0.2s ease-in;
}

section.project-info a:hover { color: #fff; }

section.project-info > div > div { display: flex; flex-wrap: wrap; }

section.project-info > div > div > a { margin-right: 2em; }

/* ================================================================================================================================= */
/* ================================================================================================================================= */

section#projects > h2 { 
	font-size: 2em; 
	font-weight: 400;
	margin-bottom: 1em;
}

section#projects > div {
	position: absolute;
	border: 0.25em solid #498f87;
	border-right: 0;
	border-bottom: 0;
	border-radius: 0.5em 0;
	width: 6em;
	height: 5em;
	z-index: -1;
}

section#projects > ul { padding-top: 1em; padding-left: 1em; }

section#projects > ul > li {
	padding: 1em 0 0.5em 1em;
}

section#projects > ul > li > a {
	transition: font-size 0.2s ease-out;
}

section#projects > ul > li > a:hover {
	font-size: 1.1em;
	color: #fff;
}
/* ================================================================================================================================= */
/* ================================================================================================================================= */

.svg-color1 { fill: #777777; }

.svg-color2 { fill: #cccccc; }

.nav-icon {
	width: 25px;
	height: 25px;
	margin: 0.75em;
	transition: transform 0.2s;
}

.nav-icon:hover { cursor: pointer; transform: scale(1.2); }

/* ================================================================================================================================= */
/* ================================================================================================================================= */

#nav-logo {
	display: inline-block;
	border: 1px solid #498f87;
	border-bottom: 0;
	border-right: 0;
	border-width: 0.5em;
	border-radius: 0.5em 0;
}

#logo-icon {
	width: 45px;
	height: 45px;
	margin: 1em 2em 1.5em 0.75em;
	transition: transform 0.2s;
}

#logo-icon:hover { cursor: pointer; transform: scale(1.1); }

#github-icon:hover path:nth-child(1) {
	fill: rgb(209, 209, 209);
}

#npm-icon:hover path:nth-child(1) {
	fill: rgb(209, 209, 209);
}

#npm-icon:hover path:nth-child(2) {
	fill: #ff0000;
}

#about-me { display: static; }

#about-domposer { display: none; }

#about-bay-js { display: none; }

#about-cookiemunch { display: none; }

#about-screen-time-converter { display: none; }

#about-inline-svg { display: none; }